services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env.prod
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true 
    networks:
      - prisma-network
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    hostname: postgres_db
    container_name: postgres_db
    restart: always
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_NAME
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$DB_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  prisma-network:
    name: prisma-network
